body {
  font-family: 'Dosis', sans-serif;
  font-size: 1.13rem;
  color: $color-gray;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1,
h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.56rem;
}

a {
  color: $color-gray;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

small {
  font-size: 70%;
}

.btn-primary {
  padding: 10px 30px;
  font-size: 22px;
  background-color: $color-blue;
  border-width: 0;
  border-radius: 3px;
  font-weight: bold;
  color: #ffffff;

  &:hover {
    background-color: $color-blue-2;
    border-color: $color-blue-3;
  }
}

.form-item {
    min-height: 50px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #ccc;
    }
}

.mt-6 {
  margin-top: 70px;
}