$color-gray: #4a4a4a;
$color-gray-1: #d5d5d5;
$color-gray-2: #979797;
$color-blue: #0062b2;
$color-blue-1: #337ab7;
$color-blue-2: #204d74;
$color-blue-3: #122b40;
$color-blue-4: #216ba5;
$color-yellow: #ffdb99;
