@import '../../assets/css/variables';

.search {
  margin-top: 70px;
  background: url('../../assets/images/home_header.jpg') no-repeat center;
  background-size: cover;
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  > * {
    margin: 0 15px;
  }
}

.calendar {
  .bi {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: initial;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #eee;
    cursor: pointer;
  }
}

.search-wrapper {
  background: rgba(0, 0, 0, 0.28);
}

.react-datepicker {
  font-family: 'Dosis', sans-serif;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: 0;
}

.react-datepicker__day--today {
  background-color: $color-yellow;
  border-radius: 0.3rem;
  font-weight: normal;
  color: #000;
}

.react-datepicker__day--selected {
  background-color: $color-blue-4;
  color: white;
}

.react-datepicker__day-names {
  font-weight: bold;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
  &:hover {
    background-color: inherit;
  }
}

.react-datepicker__triangle {
  border-bottom-color: white !important;
}

@media only screen and (max-width: 567px) {
  .search-content {
    flex-direction: column;
    > * {
      margin: 10px 5px;
    }
    .react-datepicker-wrapper,
    .form-item,
    .btn {
      width: 100%;
    }
  }
}

.react-datepicker__tab-loop {
  margin: 0;
}
