@import '../../assets/css/variables';

@mixin card-hover {
  box-shadow: 3px 0 5px 0 rgba(151, 151, 151, 0.23);
  cursor: pointer;
}

main {
  .card {
    &:hover,
    &:active {
      @include card-hover()
    }
  }
  .card-active {
    @include card-hover()
  }
}

.card {
  padding: 30px;
  border: solid 1px $color-gray-1;
  border-radius: 0;

  &:not(:last-child) {
    border-bottom: 0;
  }

  h2 {
    font-size: 25px;
  }
  .card-img {
    width: 45%;
    margin-left: -30px;
    margin-right: 30px;
  }
  .price {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

@media only screen and (max-width: 567px) {
  main .card {
    flex-direction: column !important;
    margin-top: 60px;
    padding-top: 0;
    padding-left: 30px !important;
    
    &:not(:last-child) {
      border-bottom: solid 1px $color-gray-1;
    }

    .card-img {
      width: 100%;
      margin: -30px 0 20px;
    }
  }
}